{%extends 'navbar_footer.html'%}
{%load static %}
{% load mathfilters %}

{%block 'main_content'%}
<style>

.total-order-price > li
{

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: 2px solid #ebebeb;
    font-weight: 600;

}

</style>
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="container">
            {%if get_order_address|length != 0 %}
        <!--Saved Address -->
            <div class="cart-page-heading">
                <h5>Your Saved Address</h5>
                <!-- <p>The Details</p> -->
            </div>
            <div class="row">
            {%for order_address in get_order_address%}
                <div class="col-10 col-md-6 col-lg-6 mr-lg-auto mb-4">
                    <div class="order-details-confirmation order_address_div " id='{{order_address.id}}' >
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="customRadio" name="example1" value="{{order_address.id}}">
                            <label class="custom-control-label" for="customRadio">Choose This Address</label>
                          </div>
                        <h5>Address Type : <span style="font-weight: 100;" >{{order_address.address_type}}</span></h5>
                        <h5>Order Email : <span style="font-weight: 100;">{{order_address.user_email}}</span></h5>
                        <h5>Full Name : <span style="font-weight: 100;">{{order_address.full_name}}</span></h5>
                        <h5>Address : <span style="font-weight: 100;">{{order_address.address}}</span></h5>
                        <h5>City : <span style="font-weight: 100;">{{order_address.city}}</span></h5>
                    </div>
                </div>
            {%endfor%}
            </div>
        <!-- End -->
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="checkout_details_area clearfix">

                        <div class="cart-page-heading mb-30">
                            <h5>Billing Address</h5>
                        </div>

                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label for="company">Address Type</label>
                                   <select class="w-100" id="address_type">
                                        <option value="home">Home</option>
                                        <option value="work">Work</option>
                                    </select>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="first_name">Full Name <span>*</span></label>
                                    <input type="text" class="form-control" id="full_name" value="" required>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="country">Country <span>*</span></label>
                                    <input type="text"  class="form-control mb-3" id="country" value="">
                                    <!-- <select class="w-100" id="country">
                                        <option value="usa">United States</option>
                                        <option value="uk">United Kingdom</option>
                                        <option value="ger">Germany</option>
                                        <option value="fra">France</option>
                                        <option value="ind">India</option>
                                        <option value="aus">Australia</option>
                                        <option value="bra">Brazil</option>
                                        <option value="cana">Canada</option>
                                    </select> -->
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="street_address">Address <span>*</span></label>
                                    <input type="text" class="form-control mb-3" id="street_address" value="">
                                    <!-- <input type="text" class="form-control" id="street_address2" value=""> -->
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="postcode">Postcode <span>*</span></label>
                                    <input type="text" class="form-control" id="postcode" value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="city">Town/City <span>*</span></label>
                                    <input type="text" class="form-control" id="city" value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="state">Province <span>*</span></label>
                                    <input type="text" class="form-control" id="state" value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="phone_number">Phone No <span>*</span></label>
                                    <input type="number" class="form-control" id="phone_number" min="0" value="">
                                </div>
                                <div class="col-12 mb-4">
                                    <label for="email_address">Email Address <span>*</span></label>
                                    <input type="email" class="form-control" id="email_address" value="">
                                </div>

                                <!-- <div class="col-12">
                                    <div class="custom-control custom-checkbox d-block mb-2">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Terms and conitions</label>
                                    </div>
                                    <div class="custom-control custom-checkbox d-block mb-2">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">Create an accout</label>
                                    </div>
                                    <div class="custom-control custom-checkbox d-block">
                                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3">Subscribe to our newsletter</label>
                                    </div>
                                </div> -->
                            </div>
                            <button id='order_address_btn' class="btn btn-info">Add Address</button>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                    <div class="order-details-confirmation">

                        <div class="cart-page-heading">
                            <h5>Your Order</h5>
                            <p>The Details</p>
                        </div>

                        <ul class="order-details-form mb-4">
                            
                        </ul>
                        <ul class="total-order-price">

                            <li><strong>Total</strong> <span><i class="fa fa-rupee mr-1"></i> <strong  class="total-order-price-tag"  ></strong>    </span></li>
                        </ul>

                        <div id="accordion" role="tablist" class="mb-4">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="fa fa-circle-o mr-3"></i>Paypal</a>
                                    </h6>
                                </div>

                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integ er bibendum sodales arcu id te mpus. Ut consectetur lacus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-circle-o mr-3"></i>cash on delievery</a>
                                    </h6>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quis in veritatis officia inventore, tempore provident dignissimos.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-circle-o mr-3"></i>credit card</a>
                                    </h6>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quo sint repudiandae suscipit ab soluta delectus voluptate, vero vitae</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFour">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour"><i class="fa fa-circle-o mr-3"></i>direct bank transfer</a>
                                    </h6>
                                </div>
                                <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est cum autem eveniet saepe fugit, impedit magni.</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <button class="btn emarket-btn" id='place_order_btn'  disabled>Place Order</button>
                        <form action="" method="post" class="d-none" id='payment_form'>
                            {%csrf_token%}
                            <input type="text" id='payment_order_address_id' name='address_id'>
                            <input type="text" id='payment_order_amount' name='amount'>
                            <input type="submit" name='do_payment' id='do_payment'>
                        </form>
                    </div>
                </div>
            </div>
            {%else%}
            <h3>Please fill or Choose your Order Address First</h3>
            <div class="row">
            <!-- order address form -->
                <div class="col-12 col-md-6">
                    <div class="checkout_details_area  clearfix">

                        <div class="cart-page-heading mb-30">
                            <h5>Billing Address</h5>
                        </div>

                        <form id='order_address'>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label for="company">Address Type</label>
                                   <select class="w-100" id="address_type" name=address_type>
                                        <option value="home">Home</option>
                                        <option value="work">Work</option>
                                    </select>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="first_name">Full Name <span>*</span></label>
                                    <input type="text" class="form-control" id="full_name" name='full_name' value="" required>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="country">Country <span>*</span></label>
                                    <input type="text"  class="form-control mb-3" name='country' id="country" value="" required>
                                    <!-- <select class="w-100" id="country">
                                        <option value="usa">United States</option>
                                        <option value="uk">United Kingdom</option>
                                        <option value="ger">Germany</option>
                                        <option value="fra">France</option>
                                        <option value="ind">India</option>
                                        <option value="aus">Australia</option>
                                        <option value="bra">Brazil</option>
                                        <option value="cana">Canada</option>
                                    </select> -->
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="street_address">Address <span>*</span></label>
                                    <input type="text" class="form-control mb-3" name="address" id="address" value="" required>
                                    <!-- <input type="text" class="form-control" id="street_address2" value=""> -->
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="postcode">Postcode <span>*</span></label>
                                    <input type="text" class="form-control" name="postcode" id="postcode" value="" required>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="city">City <span>*</span></label>
                                    <input type="text" class="form-control" name='city' id="city" value="" required>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="state">State <span>*</span></label>
                                    <input type="text" class="form-control" name='state' id="state" value="" required>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="phone_number">Phone No <span>*</span></label>
                                    <input type="number" class="form-control" name='phone_number' id="phone_number" min="0" value="" required>
                                </div>
                                <div class="col-12 mb-4">
                                    <label for="email_address">Email Address <span>*</span></label>
                                    <input type="email" class="form-control" name='email_address' id="user_email" value="{{request.COOKIES.useremail}}" readonly>
                                    <input type="hidden" class="form-control" name='user_id' id="user_id" value="{{request.COOKIES.userid}}" readonly>
                                </div>

                                <!-- <div class="col-12">
                                    <div class="custom-control custom-checkbox d-block mb-2">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Terms and conitions</label>
                                    </div>
                                    <div class="custom-control custom-checkbox d-block mb-2">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">Create an accout</label>
                                    </div>
                                    <div class="custom-control custom-checkbox d-block">
                                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3">Subscribe to our newsletter</label>
                                    </div>
                                </div> -->
                            </div>
                            <button id='order_address_btn' class="btn btn-info">Add Address</button>
                        </form>
                    </div>
                </div>
            <!-- order address form end -->
                <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                    <div class="order-details-confirmation">

                        <div class="cart-page-heading">
                            <h5>Your Order</h5>
                            <p>The Details</p>
                        </div>

                        <ul class="order-details-form mb-4">
                            
                        </ul>
                        <ul class="total-order-price">

                            <li><strong>Total</strong> <span><i class="fa fa-rupee mr-1"></i> <strong  class="total-order-price-tag"  ></strong>    </span></li>
                        </ul>

                        <div id="accordion" role="tablist" class="mb-4">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="fa fa-circle-o mr-3"></i>Paypal</a>
                                    </h6>
                                </div>

                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integ er bibendum sodales arcu id te mpus. Ut consectetur lacus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-circle-o mr-3"></i>cash on delievery</a>
                                    </h6>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quis in veritatis officia inventore, tempore provident dignissimos.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn emarket-btn" id='place_order_btn'  disabled>Place Order</button>
                        <form action="" method="post" class="d-none" id='payment_form'>
                            {%csrf_token%}
                            <input type="text" id='payment_order_address_id' name='address_id'>
                            <input type="text" id='payment_order_amount' name='amount'>
                            <input type="submit" name='do_payment' id='do_payment'>
                        </form>
                    </div>
                </div>
            </div>

            {%endif%}
        </div>
    </div>
    <!-- ##### Checkout Area End ##### -->

    <script>
        $('#order_address').bind('submit',function(event){
            event.preventDefault();
            $.ajax({
                url:'{%url "add_order_address" %}',
                type:'post',
                headers:{"X-CSRFToken":'{{csrf_token}}'},
                data:$('#order_address').serialize(),
                success:function(data)
                {
                    alert(data)
                }
            })
        })
    </script>

    <script>

        $('.order_address_div').click(function(){
            // alert('#'+this.id)
            $(this).find('input[type=radio]').prop('checked', true);
            order_address_id = $(this).find('input[type=radio]').val()
            if($(this).find('input[type=radio]').is(':checked'))
            {
                $('#place_order_btn').attr('disabled',false)
                $('#payment_order_address_id').val($(this).find('input[type=radio]').val())
            }
            // {
            //     $(this).css('border','2px solid red')
            // }
            // else
            // {
            //     $(this).css('border','none')
            // }
        })

        $('#place_order_btn').click(function(){
            $('#do_payment').click();
        })
    </script>


{%endblock%}