{%load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>E-market</title>

    <!-- Favicon  -->
    <link rel="icon" href="{%static 'img/core-img/logo-icon.png'%}">

    <!-- Core Style CSS -->

    <link rel="stylesheet" href="{%static 'css/core-style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <style>
        .active > a{
            color: black!important;
            text-shadow: 0px 0px 3px grey;
            font-size: 20px !important;
        }
        .user-login-info:hover .dropdown-menu
        {
            transition: 2s;
            display: block;
        }
        #search_table_div
        {
            display: none;
            width: 80%;
            padding: 10px; 
            left:10.6%;
            top: 85px; 
            position: absolute; 
            background: red;
        }
    </style>

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="emarketNav">
                <!-- Logo -->
                <a class="nav-brand" href="{%url 'index'%}"><img src=" {%static 'img/core-img/logo-new.png'%}" style="width: 100px;" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->                                   
                    <div class="classynav">
                        <ul>
                            <li><a href="#">Category</a>
                                <div class="megamenu">
                                    {%for pro_cat in pro_category%}
                                    {% if forloop.first %}<ul class="single-mega cn-col-4">{% endif %}
                                        <li><a href="{%url 'product_cate'%}?pro_cat_id={{pro_cat.id}}">{{pro_cat.name}}</a></li>
                                        {% if forloop.counter|divisibleby:3 %}</ul><ul class="single-mega cn-col-4">{% endif %}
                                        {% if forloop.last %}</ul>{% endif %}
                                    {%endfor%}
                                    <div class="single-mega cn-col-4">
                                        <img src="img/bg-img/bg-6.jpg" alt="">
                                    </div>
                                </div>
                            </li>
                            <li class="{% if request.resolver_match.view_name == 'shop' %}active{% endif %}" ><a href="{%url 'shop'%}">Shop</a></li>
                            <!-- <li><a href="#">Pages</a> -->
                                <!-- <ul class="dropdown">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="single-product-details.html">Product Details</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-blog.html">Single Blog</a></li>
                                    <li><a href="regular-page.html">Regular Page</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul> -->
                            </li>
                            <li class="{% if request.resolver_match.view_name == 'about' %}active{% endif %}" ><a href="{%url 'about'%}">About Us</a></li>
                            <li class="{% if request.resolver_match.view_name == 'contact_page' %}active{% endif %}"><a href="{%url 'contact_page'%}">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form id="search_item_form">
                        <input type="search" name="search_item"  id="headerSearch" placeholder="Type for search">
                        <button type="submit" id="search_item_btn"  ><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <!-- Favourite Area -->
                {%if user.is_authenticated%}
                    <div class="favourite-area">
                        <a href="#"><img src="{%static 'img/core-img/heart.svg'%}" alt=""></a>
                    </div>
                    <!-- User Login Info -->
                    <div class="user-login-info dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle='dropdown' ><img src="{%static 'img/core-img/user.svg'%}" alt=""></a>
                        <div class="dropdown-menu" style="text-align: left !important;">
                            <a href="{%url 'dashboard'%}" style="line-height: 30px !important;">Dashboard</a>
                            <!-- <a href="" style="line-height: 30px !important;"></a> -->
                            <a href="{%url 'logout'%}" style="line-height: 30px !important;">Logout</a>
                        </div>
                    </div>
                    <!-- Cart Area -->
                    <div class="cart-area">
                        <a href="#" id="emarketCartBtn"><img src="{%static 'img/core-img/bag.svg'%}" alt=""> <span class='login_user_cart_count_id'></span></a>
                    </div>
                {%else%}
                <div class="favourite-area {% if request.resolver_match.view_name == 'login_page' %}active{% endif %}  ">
                    <a href="login_page">Login</a>
                </div>
                <div class="favourite-area {% if request.resolver_match.view_name == 'register_page' %}active{% endif %}">
                    <a href="register_page">Register</a>
                </div>
                {%endif%}
            </div>
            <div style="" id='search_table_div'>
                <table class="table table-bordered table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>S no.</th>
                            <th>Product Name</th>
                            <th>Brand Name</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th>Discount</th>
                        </tr>
                    </thead>
                    <tbody id="search_data" >

                    </tbody>
                </table>
            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <!-- Cart Button -->
        <div class="cart-button">
            <a href="#" id="rightSideCart"><img src="{%static 'img/core-img/bag.svg'%}" alt=""> <span class='login_user_cart_count_id'  >3</span></a>
        </div>

        <div class="cart-content d-flex">

            <!-- Cart List Area -->
            <div class="cart-list">
            </div>

            <!-- Cart Summary -->
            <div class="cart-amount-summary">

                <h2>Summary</h2>
                <ul class="summary-table">
                    <li><span>subtotal:</span> <span><i class="fa fa-rupee"></i> <span class='subtotal'></span> </span></li>
                    <li><span>delivery:</span> <span>Free</span></li>
                    <li><span>discount:</span> <span><i class="fa fa-rupee"></i> <span class='subdiscount'></span> </span></li>
                    <li><span>total:</span> <span><i class="fa fa-rupee"></i> <span class='total'></span> </span></li>
                </ul>
                <div class="checkout-btn mt-100">
                    <a href="{%url 'checkout'%}" class="btn emarket-btn">check out</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Right Side Cart End ##### -->

    {%block 'main_content'%}

    {%endblock%}


     <!-- ##### Footer Area Start ##### -->
     <footer class="footer_area clearfix">
        <div class="container w-100">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="#"><img src="{%static 'img/core-img/logo2.png'%}" alt=""></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="{% url 'shop' %}">Shop</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'contact_page' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Payment Options</a></li>
                            <li><a href="#">Shipping and Delivery</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>Subscribe</h6>
                        </div>
                        <div class="subscribtion_form">
                            <!-- <form action="#" method="post">
                                <input type="email" name="mail" class="mail" placeholder="Your email here">
                                <button type="submit" class="submit"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                            </form> -->
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

<div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
                        
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="" target="_blank">SachTech Solution</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

<!-- custom script -->
<script>
    $(function(){
        get_login_user_cart_data()
        show_cart_data()
    })

    function get_login_user_cart_data(){
        $.ajax({
            url:'{%url "login_user_cart_data" %}',
            type:'get',
            success:function(data){
                $('.login_user_cart_count_id').html(data)
                $('.dashboard_cart_count').html(data)
                if(data == 0)
                {
                    $('#place_order_btn').html('There is no Product In your Cart')
                    $('#place_order_btn').removeAttr('id')
                }
                else
                {
                    $('#place_order_btn').addAttr('id')
                }
            }
        })    
    }

    function add_to_cart_btn(pro_id,pro_name,pro_type,pro_cat,pro_price,pro_brand,pro_image,pro_discount,btn_id,){
        // alert(pro_id)
        // alert(pro_type)
        // alert(pro_cat)
        $.ajax({
            url:'{%url "add_pro_cart"%}',
            type:'post',
            headers:{"X-CSRFToken": '{{ csrf_token }}'},
            data:{pro_id:pro_id,pro_name:pro_name,pro_type:pro_type,pro_cat:pro_cat,pro_price:pro_price,pro_brand:pro_brand,pro_image:pro_image,pro_discount:pro_discount},
            success:function(data)
            {
                if(data == 'new_product_added')
                {
                    $('#'+btn_id).html('In Cart')
                    $('#'+btn_id).css('background','#ff4403')
                }
                else
                {
                    $('#'+btn_id).html('Increment Value')
                    $('#'+btn_id).css('background','#ff4403 !important')
                }
                get_login_user_cart_data()
                show_cart_data()
            }
        })
    }

    function show_cart_data()
    {
        tag_name = '';
        checkout_page_tags_desing= ''
        subtotal=0;
        subdiscount=0;
        $.ajax({
            url:'{%url "show_cart_data" %}',
            type:'get',
            success:function(data)
            {
                
                console.log(data)
                for(get_data in data)
                {
                    tag_name += '<div class="single-cart-item">';
                        tag_name +=  '<a href="#" class="product-image">';
                            tag_name += "<img src='media/"+data[get_data]['pro_image']+"' style='height: 260px;' class='cart-thumb' alt=''>";
                            tag_name += '<div class="cart-item-desc">';
                                // tag_name += '<span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>';
                                tag_name += '<span class="badge">'+data[get_data]['brand_name']+'</span>';
                                tag_name += '<h6>'+data[get_data]['pro_name']+'</h6>';
                                tag_name += '<p class="text-white" ><i class="fa fa-rupee mr-1"></i>'+data[get_data]['price'] * data[get_data]['quantity']+'</p>';
                                tag_name += '<p class="text-white" >Quantity '+data[get_data]['quantity']+'</p>';
                            tag_name += '</div>';
                        tag_name +=  '</a>';
                    tag_name += '</div>';
                    single_product_total_price = data[get_data]['price'] * data[get_data]['quantity'];
                    single_product_total_discount = data[get_data]['discount'] * data[get_data]['quantity'];
                    subtotal += single_product_total_price  
                    subdiscount += single_product_total_discount;
                }   
                $('.cart-list').html(tag_name)
                $('.subtotal').html(subtotal)
                $('.subdiscount').html(subdiscount)
                $('.total').html(subtotal - subdiscount)

                for(checkoutpage in data)
                {
                    checkout_page_tags_desing += '<li><span>'+data[checkoutpage]['pro_name']+' </span><span><i class="fa fa-rupee mr-1"></i>'+parseInt(data[checkoutpage]['price'] * data[checkoutpage]['quantity'] - data[checkoutpage]['discount'] * data[checkoutpage]['quantity'])  +'</span></li>';
                }
                $('.order-details-form').html(checkout_page_tags_desing)
                $('.total-order-price-tag').html(subtotal - subdiscount)
                $('#payment_order_amount').val(subtotal - subdiscount)
            }
        })
    }
</script>

<script>

$('#headerSearch').bind('keyup',function(event){
    event.preventDefault()
    if($('#headerSearch').val() == '')
    {

    }
    else
    {
    search_data = ''
    counter = 1;
    $.ajax({
        url:"{%url 'search_item_url' %}",
        type:'get',
        data:$('form').serialize(),
        success:function(data)
        {
            // alert(typeof(data))
            for(ss in data)
            {
                search_data += '<tr>';
                    search_data += '<td>'+counter+'</td>';
                    search_data += '<td>'+data[ss].product_name+'</td>';
                    search_data += '<td>'+data[ss].brand_name_id.name+'</td>';
                    search_data += '<td>'+data[ss].color+'</td>';
                    search_data += '<td>'+data[ss].price+'</td>';
                    search_data += '<td>'+data[ss].discount+'</td>';
                search_data += '</tr>';
                counter++;
            }
            $('#search_table_div').slideDown(1000)
            $('#search_data').html(search_data)
        }
    })
    }
})
$('#headerSearch').focusout(function(){
    setTimeout(function(){
        $('#search_table_div').slideUp(1000)
    },1000)
})

</script>


<!-- custom script end -->






    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{%static 'js/jquery/jquery-2.2.4.min.js'%}"></script>
    <!-- Popper js -->
    <script src="{%static 'js/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <!-- Plugins js -->
    <script src="{%static 'js/plugins.js'%}"></script>
    <!-- Classy Nav js -->
    <script src="{%static 'js/classy-nav.min.js'%}"></script>
    <!-- Active js -->
    <script src="{%static 'js/active.js'%}"></script>


    