{%extends 'navbar_footer.html'%}
{%load static %}

{%block 'main_content'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{%static 'form_design/fonts/material-icon/css/material-design-iconic-font.min.css'%}">

    <!-- Main css -->
    <link rel="stylesheet" href="{%static 'form_design/css/style.css'%}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container_form">
                <div class="signup-content">
                    <div class="signup-form" style="overflow: visible !important;">
                        <h2 class="form-title">Sign up</h2>
                        <form method="post" class="register-form" id="register-form" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="form-group">
                                <label for="first_name"><i class="zmdi zmdi-account material-icons-name" style="font-size:30px;"></i></label>
                                <input type="text" name="first_name" id="name" placeholder="Your First Name"required  />
                            </div>
                            <div class="form-group">
                                <label for="last_name"><i class="zmdi zmdi-account material-icons-name" style="font-size:30px;"></i></label>
                                <input type="text" name="last_name" id="name" placeholder="Your Last Name"required />
                            </div>
                            <div  style=" position: relative; overflow: visible !important;">
                                <div class="form-group " >
                                    <label for="email"><i class="zmdi zmdi-email" style="font-size:30px;"></i></label>
                                    <input type="email" name="email" id="email" placeholder="Your Email"required />
                                </div>
                                <div class="text-danger" id='email_alert' style="position: absolute;right:1px;top:8px">
                                    <span>Email Already Exists</span>
                                    <i class="zmdi zmdi-comment-alert "></i>
                                </div>
                                </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock" style="font-size:30px;"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password"required />
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline" style="font-size:30px;"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"required />
                            </div>
                            <div class="form-group">
                                <label for="agree-term" class="label-agree-term">Profile Image</label>
                                <input type="file" name="profile_image"  class=" form-control agree-term" />
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{%static 'form_design/images/signup-image.jpg'%}" alt="sing up image"></figure>
                        <a href="login_page" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        $(function(){
            $('#email_alert').hide()
        })

        $('#re_pass').keyup(function(){
            let password = $('#pass').val();
            let re_password = $(this).val();
            if(password == re_password)
            {
                $('#re_pass').css('border-bottom','2px solid green')
                $('#pass').css('border-bottom','2px solid green')
                $('#signup').removeClass('bg-danger')
                $('#signup').val('Register')
                $('#signup').attr('disabled',false)
            }else
            {
                $('#re_pass').css('border-bottom','2px solid red')
                $('#spass').css('border-bottom','2px solid red')
                $('#signup').addClass('bg-danger')
                $('#signup').val('Password Not Match')
                $('#signup').attr('disabled',true)
                
            }

        })


        $('#email').keyup(function(){
            let email = $(this).val()
            $.ajax({
                url:'{%url "check_email"%}',
                type:'get',
                data:{email:email},
                success:function(data)
                {
                    if(data == 'existing')
                    {   
                        $('#email_alert').show(1000)
                        $('#signup').attr('disabled',true)  
                        $('#signup').val('Correct the field')  
                    }
                    else
                    {
                        $('#email_alert').hide(1000)
                        $('#signup').attr('disabled',false)  
                        $('#signup').val('Register')  
                    }
                }
            })
        })


    </script>
    <!-- JS -->
    
    <script src="{%static 'form_design/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'form_design/js/main.js'%}"></script>
    {%endblock%}