{%block 'shop_area'%}
<div class="col-12 col-md-4 col-lg-3">
    <div class="shop_sidebar_area">

        <!-- ##### Single Widget ##### -->
        <div class="widget catagory mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Catagories</h6>

            <!--  Catagories  -->
            <div class="catagories-menu">
                <ul id="menu-content2" class="menu-content collapse show">
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#clothing">
                        <a href="#">clothing</a>
                        <ul class="sub-menu collapse show" id="clothing">
                            <li><a href="#">All</a></li>
                            <li><a href="#">Bodysuits</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Hoodies &amp; Sweats</a></li>
                            <li><a href="#">Jackets &amp; Coats</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Pants &amp; Leggings</a></li>
                            <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                            <li><a href="#">Shirts &amp; Blouses</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Sweaters &amp; Knits</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                        <a href="#">shoes</a>
                        <ul class="sub-menu collapse" id="shoes">
                            <li><a href="#">All</a></li>
                            <li><a href="#">Bodysuits</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Hoodies &amp; Sweats</a></li>
                            <li><a href="#">Jackets &amp; Coats</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Pants &amp; Leggings</a></li>
                            <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                            <li><a href="#">Shirts &amp; Blouses</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Sweaters &amp; Knits</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                        <a href="#">accessories</a>
                        <ul class="sub-menu collapse" id="accessories">
                            <li><a href="#">All</a></li>
                            <li><a href="#">Bodysuits</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Hoodies &amp; Sweats</a></li>
                            <li><a href="#">Jackets &amp; Coats</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Pants &amp; Leggings</a></li>
                            <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                            <li><a href="#">Shirts &amp; Blouses</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Sweaters &amp; Knits</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- ##### Single Widget ##### -->
        <div class="widget price mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Filter by</h6>
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Price</p>

            <div class="widget-desc">
                <div class="slider-range">
                    <div data-min="49" data-max="360" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="49" data-value-max="360" data-label-result="Range:">
                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                    </div>
                    <div class="range-price">Range: $49.00 - $360.00</div>
                </div>
            </div>
        </div>

        <!-- ##### Single Widget ##### -->
        <div class="widget color mb-50">
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Color</p>
            <div class="widget-desc">
                <ul class="d-flex">
                    <li><a href="#" class="color1"></a></li>
                    <li><a href="#" class="color2"></a></li>
                    <li><a href="#" class="color3"></a></li>
                    <li><a href="#" class="color4"></a></li>
                    <li><a href="#" class="color5"></a></li>
                    <li><a href="#" class="color6"></a></li>
                    <li><a href="#" class="color7"></a></li>
                    <li><a href="#" class="color8"></a></li>
                    <li><a href="#" class="color9"></a></li>
                    <li><a href="#" class="color10"></a></li>
                </ul>
            </div>
        </div>

        <!-- ##### Single Widget ##### -->
        <div class="widget brands mb-50">
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Brands</p>
            <div class="widget-desc">
                <ul>
                    <li><a href="#">Asos</a></li>
                    <li><a href="#">Mango</a></li>
                    <li><a href="#">River Island</a></li>
                    <li><a href="#">Topshop</a></li>
                    <li><a href="#">Zara</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



{%endblock%}